body {
	padding:10px  100px;
	margin:10px  100px;
	
}
h2 {
  font-size: 2.4em;
  margin: 0.7em 0 1.7em 0;
  padding: 0;
  color: #000;
  line-height: 1em;
  letter-spacing: -.06em;
  margin-top:36px;
  margin-bottom:8px;
  }


input {
  border: none;
  border-radius: 5px;
  background-color: #dcdcdc;
  font-size: 1em;
  line-height: 1em;
  width: 280px;
  padding: 6px 10px 6px 10px;
  }
  
  #tj_button {
	background-color:#09bb07;
    width:80px;	
	margin-left:32px;
  }
  
  